**/*/node_modules
node_modules
**/*/.env
transition
JS/node_modules

JS/D3/tp-class.js
JS/D3/heritage2-correction.js

JS/Project

JS/D4/ex1/index-correction.js

JQUERY_project/D1_style
JQUERY_project/D2_timer
JQUERY_project/D3_JQuery/ex1/script.js
JQUERY_project/D3_JQuery/ex1/script_old.js

QCM2/correction

Node-Rest/D2/express-hello-world