h1{
    text-align: center;
}

.container{
    margin: 0 auto;
    width:400px;
    height:400px;
    display:flex;
    flex-wrap: wrap;
    position:relative;
}

.square{
    width:200px;
    height:200px;
}

#play{
    width:70px;
    height:70px;
    position:absolute;
    background:black;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
}

#button1{
    background-color:yellow;
}

#button2{
    background-color: blue;
}

#button3{
    background-color: red;
}

#button4{
    background-color: green;
}

h2{
    text-align: center;
}
