<%- include('includes/head') %>
<form action="/signup" method="post">
    <label for="email">email</label>
    <input type="text" name="email"/>
    <label for="password">password</label>
    <input type="text" name="password"/>
    <button type="submit">Send</button>
</form>

</body>
</html>